
<head>
    
          <link rel="stylesheet" type="text/css" href="assets/css/metro4.css">
            <link rel="stylesheet" type="text/css" href="assets/css/darcula.css">
     
    <script src="libraries/libraries.js"></script>
        <script src="jsscript/common.js"></script>
        <title>Electropy Framework</title>
</head>
<body style="overflow-y: hidden">

           <button class="button btn-close sys-button" style="background-color: #c4122c;color:white;float: right;padding-top: 0ch;" onclick="Quit()">X</button>
        <h1 class="text-center">Electropy Framework</h1>
        <h3 class="text-center">Desktop Application Framework</h3>
        <div class="d-flex flex-justify-center mt-6">
          <a class="button" style="background-color: #585b5d;color:white" href="Documentation.html">Documentation</a>
          <a class="button" style="background-color: #585b5d;color:white;margin-left: 4px;" href="example.html">Example</a>
          <a class="button" style="background-color: #585b5d;color:white;margin-left: 4px;"onclick="whoami()">About - Apoorv</a>

         

      </div>
      
     <h2 id="wizard" style="margin-left: 30px;">Documentation</h2>
        <div class="example" style="margin: 30px;">
            <div data-role="wizard" class="wizard-wide-fs"
                 data-icon-help="<span class='mif-help'></span>"
                 data-icon-prev="<span class='mif-arrow-left'></span>"
                 data-icon-next="<span class='mif-arrow-right'></span>"
                 data-icon-finish="<span class='mif-checkmark'></span>"
                 data-start="3">
                <section>
                  <div class="page-content"><h5>What is Electropy Framework</h5><br>Electropy is an Application Development Framework - a toolkit - for people who build Desktop Applications using PYTHON, HTML, CSS, JAVASCRIPT. Its goal is to enable you to develop projects much faster than you could if you were writing code from scratch, Electropy lets you creatively focus on your project by minimizing the amount of code needed for a given task. and it also helps in application production. you can easily make the executable file for different-different platforms.</div>
                </section>
                <section>
                <div class="page-content"><h5>Installation</h5><br>
                  You'll need Git and python and Node.js 8.0 or higher(which comes with npm) installed on your computer.
                  <ul>
                    <li> git clone https://github.com/Apoorve8055/Electropy-Framework.git</li>
                    <li>cd electropy-framework</li>
                    <li>npm install</li>
                    <li>npm start</li>
                  </ul>
                </div>
                </section>
                <section>
                  <div class="page-content"><h5>Framework Structure</h5>
                    <img src="assets/img/struct1.jpg" height="200" style="width: 100%">
                </div>
              </section>
                <section> <div class="page-content"><h5>Pyscript</h5>
                  In This Selection, you have to add the Python Script.
                  where you can write your logic according to your requirements.
                 here, for example, I am using example.py where I wrote the string concatenation logic and string length logic.
                <br><br>  <img src="assets/img/pyscript.jpg" style="width: 100%">
                </div></section>
                <section><div class="page-content"><h5>Views</h5>
                <img src="assets/img/view.jpg" height="180"  style="width: 100%">
               <br>
                <b style="float: right">To Be Continued => </b>
                </div></section>

                <section>
                  <div class="page-content"><h5>Views</h5>
                    <b style="font-size: 20px;">Assets: </b>
                    In This Selection, you can add Assets like CSS, js and image files, etc. <br>
                    <b style="font-size: 20px;">Jsscript: </b>In This Selection, you can add JAVASCRIPT logics function, etc. for more information open example.js file.  <br>
                    <b style="font-size: 20px;">libraries: </b>This is a very important Selection for the project you have to include libraries.js and else according to your requirements.  <br>
                    <b style="font-size: 20px;">html files: </b>You can add the Html files according to your requirements.  <br>
                    <b style="font-size: 20px;">Other files: </b>You can add the Other files like images,document and etc.  <br>     
                </div>
              </section>
              <section>
                  <div class="page-content"><h5>Window Manager</h5>
                    In This Selection, you can manage the window of the project. you need to know about electron js to manage this section. 
                  
                    <br><br><br><img src="assets/img/window.jpg" style="width: 100%">
                </div>
              </section>
              <section>
                  <div class="page-content"><h5>Production { Generates Executables }</h5>
                    <img src="assets/img/production.jpg" style="width: 100%">
                    <ul>
                        <li>$ npm run build-win </li>
                        <li>$ npm run build-linux</li>
                        <li>$ npm run build-mac</li>
                      </ul>  
                  <span style="float: right">Thank You</span>
                </div>
              </section>
            </div>
        </div>

    <script src="assets/js/metro.js"></script>
        
</body>
