<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="assets/css/metro4.css">
    <script src="libraries/libraries.js"></script>
    <script src="jsscript/common.js"></script>
    <title>Electropy Framework</title>
  </head>
  <body class="example bg-dark fg-white" style="overflow-y: hidden">
      <button class="button btn-close sys-button" style="background-color: #c4122c;color:white;float: right;padding-top: 0ch;" onclick="Quit()">X</button>
    <h1 class="text-center">Electropy Framework</h1>
    <h3 class="text-center">Desktop Application Framework</h3>
    <div class="d-flex flex-justify-center mt-6">
      <a class="button" style="background-color: #585b5d;color:white" href="Documentation.html">Documentation</a>
      <a class="button" style="background-color: #585b5d;color:white;margin-left: 4px;" href="example.html">Example</a>
      <a class="button" style="background-color: #585b5d;color:white;margin-left: 4px;" onclick="whoami()">About - Apoorv</a>
  </div>
    <div style="margin-top:7%;" data-role="cube"></div>
    <script src="assets/js/metro4.js"></script>
  </body>